<header>
  <h1>Join the Converastion!</h1>
  <p>As this app has no articles to comment on, you must comment first to get this conversation going!</p>
  <p>Then someone else may reply to you!</p>
<header>

<main>

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <%= render @comments %>

</main>

<%= render 'shared/footer' %>
