<header>
  <h1>Listing All Comments</h1>

  <p>This page is for demo purposes.  For most web app needs, there is no practical use case for an index of all comments.</p>
<header>

<main>

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>

</main>

<%= render 'shared/footer' %>
