<header>
  <h1><%= "Comment ##{@comment.id}" %></h1>

  <p>You're viewing a single a comment - not much to see here.</p>
<header>

<main>


<p id="notice"><%= notice %></p>

<%= render @comment %>

</main>

<%= render 'shared/footer' %>
