// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// comments/index

.comment {
  margin: 1em auto;
  padding: .5em 2em;
  width: 50%;
  background-color: #fafafa;
}

.comment .comment {
  width: 95%;
  position: inherit;
  right: 0px;
  margin: 0px 0px 0.5em 0em;
  padding: 0px 0px 0px 5%;
}

.comment .author,
.comment .actions {
  padding: 0;
  font-weight: bold;
}

.comment .content {
  padding: 0 1em;
}

.comment .actions {
  text-align: right;
}

.comment .actions .view {
  position: relative;
  top: 0;
  left: 0;
  float: left;
}

.comment .author li,
.comment .actions li {
  display: inline-block;
}

// comments/_form

form {
  width: 30%;
}

.field.inline {
  display: inline-block;
}

.new_comment textarea {
  width: 200px;
  height: 100px;
}

.field_with_errors input,
.field_with_errors textarea {
  box-shadow: 0 0 20px 1px red;
}
